# Model Server layer for runtime distribution
# FROM openvino/ubuntu20_runtime:latest

USER root

RUN apt-get update && apt-get install -y --no-install-recommends \
            ca-certificates \
            curl \
            libgomp1 \
            python3-dev \
            python3-pip \
            virtualenv \
            usbutils \
            gnupg2 \
            wget \
            git \
        && rm -rf /var/lib/apt/lists/*

RUN mkdir /ie-serving-py && chown openvino /ie-serving-py

USER openvino

ENV PYTHONPATH=$PYTHONPATH:/opt/intel/openvino/python/${PYTHON_VER} \
    LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/intel/openvino/deployment_tools/inference_engine/external/tbb/lib:/opt/intel/openvino/deployment_tools/inference_engine/external/mkltiny_lnx/lib:/opt/intel/openvino/deployment_tools/inference_engine/lib/intel64:/opt/intel/openvino/deployment_tools/ngraph/lib

WORKDIR /ie-serving-py
RUN git clone https://github.com/openvinotoolkit/model_server.git

RUN cp model_server/requirements.txt /ie-serving-py/ && \
    virtualenv -p python3 .venv && \
    . .venv/bin/activate && \
    pip3 --no-cache-dir install -r requirements.txt && \
    cp model_server/start_server.sh /ie-serving-py/ && \
    cp model_server/setup.py /ie-serving-py/ && \
    cp -r model_server/ie_serving /ie-serving-py/ie_serving

RUN . .venv/bin/activate && pip3 install .