# Copyright (C) 2019-2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
FROM registry.access.redhat.com/ubi8
LABEL name="rhel8_{{ distribution }}" \
      maintainer="openvino_docker@intel.com" \
      vendor="Intel Corporation" \
      version="{{ product_version }}" \
      release="{{ product_version }}" \
      summary="Provides the latest release of Intel(R) Distribution of OpenVINO(TM) toolkit." \
      description="This is the {{ distribution }} image for Intel(R) Distribution of OpenVINO(TM) toolkit on RHEL UBI 8"

# hadolint ignore=DL3002
USER root
WORKDIR /

SHELL ["/bin/bash", "-xo", "pipefail", "-c"]

ENV INTEL_OPENVINO_DIR /opt/intel/openvino

{% for pre_command in pre_commands %}
{{ pre_command|safe }}
{% endfor %}

# adding user openvino to group "render" to use GPU and NPU
RUN sed -ri -e 's@^UMASK[[:space:]]+[[:digit:]]+@UMASK 000@g' /etc/login.defs && \
	grep -E "^UMASK" /etc/login.defs && groupadd -f render && usermod -a -G render openvino && \
    chown openvino -R /home/openvino

{% if 'runtime' == distribution %}
ARG LGPL_DEPS="bash python3.12" # no new packages
ARG INSTALL_PACKAGES="-c=python -c=core"
{% else %}
ARG LGPL_DEPS="gcc-c++ \
               glibc \
               libstdc++ \
               libgcc \
               python3.12"
ARG INSTALL_PACKAGES="-c=opencv_req -c=python -c=opencv_opt -c=core -c=dev"
{% endif %}
ARG INSTALL_SOURCES="no"

# hadolint ignore=SC2016
RUN sed -i -e 's|https://vault.centos.org/centos/8/PowerTools/$arch/os/Packages/gflags-devel-2.1.2-6|http://mirror.centos.org/centos/8-stream/PowerTools/$arch/os/Packages/gflags-devel-2.2.2-1|g' ${INTEL_OPENVINO_DIR}/install_dependencies/install_openvino_dependencies.sh && \
    sed -i -e 's|https://vault.centos.org/centos/8/PowerTools/$arch/os/Packages/gflags-2.1.2-6|http://mirror.centos.org/centos/8-stream/PowerTools/$arch/os/Packages/gflags-2.2.2-1|g' ${INTEL_OPENVINO_DIR}/install_dependencies/install_openvino_dependencies.sh

WORKDIR /thirdparty
# hadolint ignore=DL3031, DL3033, SC2012
{% if 'openshift' == rhel_platform -%}
RUN rm /etc/rhsm-host && rpm -qa --qf "%{name}\n" > base_packages.txt && \
{%- else -%}
RUN rpm -qa --qf "%{name}\n" > base_packages.txt && \
{%- endif %}
	yum update -y && yum install -y ${LGPL_DEPS} && \
	${INTEL_OPENVINO_DIR}/install_dependencies/install_openvino_dependencies.sh -y $INSTALL_PACKAGES && \
	if [ "$INSTALL_SOURCES" = "yes" ]; then \
	    yum install -y yum-utils && \
		rpm -qa --qf "%{name}\n" > all_packages.txt && \
		grep -v -f base_packages.txt all_packages.txt | while read line; do \
		package=$(echo $line); \
		rpm -qa $package --qf "%{name}: %{license}\n" | grep GPL; \
		exit_status=$?; \
		if [ $exit_status -eq 0 ]; then \
		    yumdownloader --skip-broken --source -y $package;  \
		fi \
	  done && \
	  yum autoremove -y yum-utils && \
      echo "Download source for $(ls | wc -l) third-party packages: $(du -sh)"; fi && \
	yum clean all && rm -rf /var/cache/yum

{% if 'autobuild' != rhel_platform %}
RUN  rm -Rf /etc/pki/entitlement /etc/rhsm/ca /etc/rhsm/rhsm.conf
{% endif %}

WORKDIR ${INTEL_OPENVINO_DIR}/licensing
RUN if [ "$INSTALL_SOURCES" = "no" ]; then \
        echo "This image doesn't contain source for 3d party components under LGPL/GPL licenses. They are stored in https://storage.openvinotoolkit.org/repositories/openvino/ci_dependencies/container_gpl_sources/." > DockerImage_readme.txt ; \
    fi

WORKDIR /licenses
RUN cp -rf "${INTEL_OPENVINO_DIR}"/licensing/* /licenses

{% for command in commands %}
{{ command|safe }}
{% endfor %}

# Post-installation cleanup and setting up OpenVINO environment variables
{% if 'docker' == rhel_platform  %}
RUN rm -rf /tmp && mkdir /tmp 
{% elif 'openshift' == rhel_platform %}
RUN rm -rf /tmp && mkdir /tmp && rm -rf /etc/pki/entitlement && rm -rf /etc/rhsm
{% else %}
RUN rm -rf /tmp && mkdir /tmp
{% endif %}

USER openvino
WORKDIR ${INTEL_OPENVINO_DIR}

CMD ["/bin/bash"]

# Setup custom layers below
{% for layer in layers %}
{{ layer|safe }}
{% endfor %}
