# See help here: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

**/*requirements*.* @openvinotoolkit/docker_ci-admins
**/setup.py @openvinotoolkit/docker_ci-admins