# setup Python
ENV PYTHON_VER python3.6

# hadolint ignore=DL3008
RUN yum update && yum install -y python3 && \
    yum clean all && rm -rf /var/cache/yum

RUN ${PYTHON_VER} -m pip install --upgrade pip