# setup Python
ARG PYTHON_VER=python3.8

COPY --from=base C:\cpython-3.8.12\PCbuild\amd64 c:\Python38
COPY --from=base c:\cpython-3.8.12\Lib c:\Python38\Lib

RUN setx path "%path%;C:\Python38;C:\Python38\Scripts"
# hadolint ignore=DL3013
RUN python -m ensurepip --upgrade --default-pip && `
    python -m pip install --no-cache-dir --upgrade pip
