# NPU dependencies
# hadolint ignore=DL3003
RUN apt-get update && \
    mkdir /tmp/npu_deps && \
    cd /tmp/npu_deps && \
    curl -LO https://github.com/intel/linux-npu-driver/releases/download/v1.5.1/intel-driver-compiler-npu_1.5.1.20240708-9842236399_ubuntu22.04_amd64.deb && \
    curl -LO https://github.com/intel/linux-npu-driver/releases/download/v1.5.1/intel-level-zero-npu_1.5.1.20240708-9842236399_ubuntu22.04_amd64.deb && \
    curl -LO https://github.com/oneapi-src/level-zero/releases/download/v1.17.19/level-zero_1.17.19+u22.04_amd64.deb && \
    apt install -y ./*.deb && \
    rm -rf /var/lib/apt/lists/* /tmp/*
