# Setup Microsoft Visual C++ 2015-2019 Redistributable (x64) - 14.27.29016
{% if HTTPS_PROXY is defined %}
RUN powershell.exe -Command `
    $ProgressPreference = 'SilentlyContinue' ; `
    Invoke-WebRequest -URI https://aka.ms/vs/16/release/vc_redist.x64.exe -Proxy %HTTPS_PROXY%  -OutFile "%TMP%\vc_redist.x64.exe" ; `
    Start-Process %TMP%\\vc_redist.x64.exe -ArgumentList '/quiet /norestart' -Wait ; `
    Remove-Item "%TMP%\vc_redist.x64.exe" -Force
{% else %}
RUN powershell.exe -Command `
    $ProgressPreference = 'SilentlyContinue' ; `
    Invoke-WebRequest -URI https://aka.ms/vs/16/release/vc_redist.x64.exe -OutFile "%TMP%\vc_redist.x64.exe" ; `
    Start-Process %TMP%\\vc_redist.x64.exe -ArgumentList '/quiet /norestart' -Wait ; `
    Remove-Item "%TMP%\vc_redist.x64.exe" -Force
{% endif %}
