ENV HDDL_INSTALL_DIR=/opt/intel/openvino_{{ build_id }}/runtime/3rdparty/hddl
ENV InferenceEngine_DIR=/opt/intel/openvino_{{ build_id }}/runtime/cmake
ENV LD_LIBRARY_PATH=/opt/intel/openvino_{{ build_id }}/runtime/3rdparty/hddl/lib:/opt/intel/openvino_{{ build_id }}/runtime/3rdparty/tbb/lib:/opt/intel/openvino_{{ build_id }}/runtime/lib/intel64:/opt/intel/openvino_{{ build_id }}/tools/compile_tool:/opt/intel/openvino_{{ build_id }}/extras/opencv/lib
ENV OpenCV_DIR=/opt/intel/openvino_{{ build_id }}/extras/opencv/cmake
ENV PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ENV PYTHONPATH=/opt/intel/openvino_{{ build_id }}/python/python3.8:/opt/intel/openvino_{{ build_id }}/python/python3:/opt/intel/openvino_{{ build_id }}/extras/opencv/python
ENV TBB_DIR=/opt/intel/openvino_{{ build_id }}/runtime/3rdparty/tbb/cmake
ENV ngraph_DIR=/opt/intel/openvino_{{ build_id }}/runtime/cmake
ENV OpenVINO_DIR=/opt/intel/openvino_{{ build_id }}/runtime/cmake
ENV INTEL_OPENVINO_DIR=/opt/intel/openvino_{{ build_id }}
ENV PKG_CONFIG_PATH=/opt/intel/openvino_{{ build_id }}/runtime/lib/intel64/pkgconfig