ENV HDDL_INSTALL_DIR=/opt/intel/openvino{{ '_'~build_id if build_id else '' }}/runtime/3rdparty/hddl
ENV InferenceEngine_DIR=/opt/intel/openvino{{ '_'~build_id if build_id else '' }}/runtime/cmake
ENV LD_LIBRARY_PATH=/opt/intel/openvino{{ '_'~build_id if build_id else '' }}/runtime/3rdparty/hddl/lib:/opt/intel/openvino{{ '_'~build_id if build_id else '' }}/runtime/3rdparty/tbb/lib:/opt/intel/openvino{{ '_'~build_id if build_id else '' }}/runtime/lib/intel64:/opt/intel/openvino{{ '_'~build_id if build_id else '' }}/tools/compile_tool:/opt/intel/openvino{{ '_'~build_id if build_id else '' }}/extras/opencv/lib
ENV OpenCV_DIR=/opt/intel/openvino{{ '_'~build_id if build_id else '' }}/extras/opencv/cmake
ENV PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ENV PYTHONPATH=/opt/intel/openvino{{ '_'~build_id if build_id else '' }}/python/python3.8:/opt/intel/openvino{{ '_'~build_id if build_id else '' }}/python/python3:/opt/intel/openvino{{ '_'~build_id if build_id else '' }}/extras/opencv/python
ENV TBB_DIR=/opt/intel/openvino{{ '_'~build_id if build_id else '' }}/runtime/3rdparty/tbb/cmake
ENV ngraph_DIR=/opt/intel/openvino{{ '_'~build_id if build_id else '' }}/runtime/cmake
ENV OpenVINO_DIR=/opt/intel/openvino{{ '_'~build_id if build_id else '' }}/runtime/cmake
ENV INTEL_OPENVINO_DIR=/opt/intel/openvino{{ '_'~build_id if build_id else '' }}
ENV PKG_CONFIG_PATH=/opt/intel/openvino{{ '_'~build_id if build_id else '' }}/runtime/lib/intel64/pkgconfig