# for NPU

ARG INTEL_NPU_DRIVER_URL=https://github.com/intel/linux-npu-driver/releases/download/v1.38.0/linux-npu-driver-v1.38.0.20260910-34487311128-ubuntu2404.tar.gz
ARG INTEL_LEVEL_ZERO_URL=https://snapshot.ppa.launchpadcontent.net/kobuk-team/intel-graphics/ubuntu/20260830T100000Z/pool/main/l/level-zero-loader/libze1_1.32.0-1~24.04~ppa1_amd64.deb

# hadolint ignore=DL3003
RUN mkdir /tmp/npu_deps \
    && cd /tmp/npu_deps \
    && curl -L ${INTEL_NPU_DRIVER_URL} | tar -xzf - \
    && curl -L -O ${INTEL_LEVEL_ZERO_URL} \
    && apt-get update \
    && apt-get install --no-install-recommends -y ./*.deb \
    && rm -rf /var/lib/apt/lists/* /tmp/npu_deps
