# for GPU
ARG INTEL_OPENCL

RUN groupmod -g 44 video

# hadolint ignore=DL3031, DL3033
WORKDIR ${INTEL_OPENVINO_DIR}/install_dependencies
RUN ./install_NEO_OCL_driver.sh --no_numa -y -d ${INTEL_OPENCL} && \
    yum clean all && rm -rf /var/cache/yum && \
    yum remove -y epel-release
