# install product by copying archive content

# Creating user openvino and adding it to groups"users"
RUN useradd -ms /bin/bash -G users openvino

{% if 'autobuild' != rhel_platform %}
ARG TEMP_DIR=/tmp/openvino_installer
{% endif -%}
ENV INTEL_OPENVINO_DIR /opt/intel/openvino

{% if 'openshift' == rhel_platform %}
WORKDIR ${TEMP_DIR}
{% endif %}
RUN tar -xzf "${TEMP_DIR}"/*.tgz && \
    OV_BUILD="$(find . -maxdepth 1 -type d -name "*openvino*" | grep -oP '(?<=_)\d+.\d+.\d.\d+')" && \
    OV_YEAR="$(echo $OV_BUILD | grep -oP '^[^\d]*(\d+)')" && \
    OV_FOLDER="$(find . -maxdepth 1 -type d -name "*openvino*")" && \
    mkdir -p /opt/intel/openvino_"$OV_BUILD"/ && \
    cp -rf "$OV_FOLDER"/*  /opt/intel/openvino_"$OV_BUILD"/ && \
    rm -rf "${TEMP_DIR:?}"/"$OV_FOLDER" && \
    ln --symbolic /opt/intel/openvino_"$OV_BUILD"/ /opt/intel/openvino && \
    ln --symbolic /opt/intel/openvino_"$OV_BUILD"/ /opt/intel/openvino_"$OV_YEAR" && \
    rm -rf ${INTEL_OPENVINO_DIR}/tools/workbench && rm -rf ${TEMP_DIR} && \
    chown -R openvino /opt/intel/openvino_"$OV_BUILD"
{% if no_samples is defined %}
RUN rm -rf ${INTEL_OPENVINO_DIR}/samples
{% endif %}