# get product from local archive
ARG package_url
ARG TEMP_DIR=/tmp/openvino_installer

{% if openshift %}
COPY ${package_url} ${TEMP_DIR}/
{% else %}
WORKDIR ${TEMP_DIR}
COPY ${package_url} ${TEMP_DIR}
{% endif %}