# escape=`
# Copyright (C) 2019-2022 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
FROM mcr.microsoft.com/windows/servercore:ltsc2019 AS base

# Restore the default Windows shell for correct batch processing.
SHELL ["cmd", "/S", "/C"]

USER ContainerAdministrator

{% if HTTPS_PROXY is defined %}
ARG HTTPS_PROXY
{% endif %}

{% for command in pre_commands %}
{{ command|safe }}
{% endfor %}

# -----------------
FROM mcr.microsoft.com/windows/servercore:ltsc2019 AS ov_base

LABEL description="This is the {{ distribution }} image for {{ product_name }} on Windows Server LTSC 2019"
LABEL vendor="Intel Corporation"

# Restore the default Windows shell for correct batch processing.
SHELL ["cmd", "/S", "/C"]

USER ContainerAdministrator

{% if HTTPS_PROXY is defined %}
ARG HTTPS_PROXY
{% endif %}

{% for command in commands %}
{{ command|safe }}
{% endfor %}

# install opencv
WORKDIR ${INTEL_OPENVINO_DIR}
RUN cmd /S /C curl -kL --output opencv-4.6.0-vc14_vc15.exe `
    https://github.com/opencv/opencv/releases/download/4.6.0/opencv-4.6.0-vc14_vc15.exe && `
    powershell.exe -Command Start-Process C:\intel\openvino\opencv-4.6.0-vc14_vc15.exe `
    -ArgumentList '-o"C:\\\\intel\\\\openvino\\\\extras\\\\" -y /quiet /norestart' -Wait && `
    del opencv-4.6.0-vc14_vc15.exe
ENV OpenCV_DIR C:\intel\openvino\extras\opencv\build

RUN rmdir /s /q %INTEL_OPENVINO_DIR%\.distribution & mkdir %INTEL_OPENVINO_DIR%\.distribution && `
    copy /b NUL %INTEL_OPENVINO_DIR%\.distribution\docker

WORKDIR ${INTEL_OPENVINO_DIR}

# Post-installation cleanup
RUN powershell Remove-Item -Force -Recurse "%TEMP%\*" && `
    powershell Remove-Item -Force -Recurse "%TEMP_DIR%" && `
    rmdir /S /Q "%ProgramData%\Package Cache"

USER ContainerUser

CMD ["cmd.exe"]

# Setup custom layers below
{% for layer in layers %}
{{ layer|safe }}
{% endfor %}