name: Check URLs of release packages

on:
  push:
    branches:
      - 'releases/**'
  workflow_dispatch:
    inputs:
      product_version:
        description: 'Product version to check. Default all'
        required: false
        default: ''

jobs:
  loader_links_check:
    runs-on: ubuntu-18.04
    steps:
      - name: Code checkout
        uses: actions/checkout@v2
      - name: Setting up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'
      - name: Setting up Python dependencies
        if: ${{ always() }}
        run: python -m pip install -r requirements.txt
      - name: Run package URLs check
        run: python -m utils.tests.check_loader_links --product_version ${{ github.event.inputs.product_version }}
      - name: Collecting artifacts
        if: ${{ always() }}
        uses: actions/upload-artifact@v2
        with:
          name: logs
          path: |
            logs/
            ./*.html
            ./*.log